<footer id="footer">
    <div class="footer-container">
        <h2 id="sgrid-cloud" style="height: 100px;width:300px"></h2>
        <ul>
            <li>Cooperation</li>
            <li>商务合作</li>
            <li>电话: +86 13476973442</li>
            <li>邮箱: leemulus21@gmail.com</li>
        </ul>
        <ul>
            <li>Address</li>
            <li><a href="http://150.158.120.244/sgirdcloud/web/#/server">云服务</a></li>
            <li><a href="http://150.158.120.244:18771/login.html">文件系统</a></li>
            <li><a href="http://150.158.120.244:14771/web/#/">项目管理</a></li>
            <li><a href="http://47.98.174.10:20518/DigitalTwinScreen/#/brand">智慧大屏幕</a></li>
        </ul>
        <ul>
            <li>Contact</li>
            <li>地址</li>
            <li>家乡地址: 湖北省荆州市江陵县</li>
            <li>当前地址: 湖北省武汉市东湖高新区金融港</li>
        </ul>
    </div>
    <div class="copyright">
        <p>SgridCoud Servers BasicHqServer. Copytight@2022.leemulus21@gmail.com Inc.保留所有权利</p>
    </div>
</footer>

<script defer>
    const SgridCloudTextChart = {
        graphic: {
            elements: [
                {
                    type: 'text',
                    left: 'center',
                    top: 'center',
                    style: {
                        text: 'SgridCloud',
                        fontSize: 46,
                        fontWeight: 'bold',
                        lineDash: [0, 200],
                        lineDashOffset: 0,
                        fill: 'transparent',
                        stroke: 'white',
                        lineWidth: 2
                    },
                    keyframeAnimation: {
                        duration: 5000,
                        loop: true,
                        keyframes: [
                            {
                                percent: 0.7,
                                style: {
                                    fill: 'transparent',
                                    lineDashOffset: 200,
                                    lineDash: [200, 0]
                                }
                            },
                            {
                                percent: 5,
                                style: {
                                    fill: 'white'
                                }
                            }
                        ]
                    }
                }
            ]
        }
    };
    var sgridCloudChart = echarts.init(document.getElementById("sgrid-cloud"));
    sgridCloudChart.setOption(SgridCloudTextChart);
</script>