<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>大癌行情助手 祝你的心情像大癌一样四季如春</title>
    <!-- 引入 ECharts 的库文件 -->
    <link rel="stylesheet" href="<%- publicPath %>static/style.css">
    <script src="https://cdn.bootcdn.net/ajax/libs/echarts/5.4.2/echarts.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
</head>