body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-item {
  margin-right: 20px;
}

.nav-link {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #ddd;
}

.nav-link.active {
  font-weight: bold;
}

main {
  padding: 20px;
}

nav {
  width: 100%;
}

/*底部*/
footer {
  overflow: hidden;
  min-width: var(--mainWidth);
  height: 352px;
  background: #2b2b2b;
  color: #ffffff;
  text-align: left;
  font-size: 13px;
}

footer a {
  color: #ffffff;
}

footer .footer-container,
footer .copyright {
  margin: 0 auto;
  width: 1200px;
}

footer .footer-container {
  display: flex;
  flex-direction: row;
  padding: 100px 0 80px;
  height: 300px;
  box-sizing: border-box;
}

footer .footer-container h2 {
  font-size: 48px;
}

.footer-container ul {
  margin-left: 100px;
}

.footer-container ul li {
  margin-bottom: 15px;
}

.footer-container ul li:first-child,
.footer-container ul li:nth-child(2) {
  font-size: 15px;
}

.footer-container ul li:first-child {
  margin-bottom: 13px;
}

.footer-container ul li:nth-child(2) {
  margin-bottom: 30px;
  text-indent: 15px;
}

.footer-container ul:nth-child(3) {
  width: 140px;
}

.footer-container ul:nth-child(3) li {
  width: 66px;
}

.footer-container ul:nth-child(3) li:nth-child(3),
.footer-container ul:nth-child(3) li:nth-child(4),
.footer-container ul:nth-child(3) li:nth-child(5),
.footer-container ul:nth-child(3) li:nth-child(6),
.footer-container ul:nth-child(3) li:nth-child(7) {
  display: inline-block;
}

footer .copyright {
  height: 45px;
  line-height: 45px;
  text-align: center;
}

.tradeMoney {
  margin-top: 3vh;
  text-align: center;
  color: #5470c6;
  font-size: 14px;
  font-family: monospace;
  font-weight: 700;
}

.tradeMoney::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #333;
}

.chelizichen {
  line-height: 16px;
  margin-left: 20px;
  font-family: monospace;
  cursor: pointer;
  font-size: 16px;
}

.chelizichen:hover {
  color: #5470c6;
}

.chelizichen-png {
  border-radius: 50%;
  height: 30%;
  width: 30%;
  cursor: pointer;
}

.saveToPng {
  cursor: pointer;
  color: gainsboro;
}

.saveToPng:hover {
  color: #5470c6;
  transition: all 0.5s;
}

.history-png-a {
  text-decoration: none;
  display: block;
  font-size: 24px;
  color: black;
}

.history-png {
  height: 50px;
  width: 50px;
  margin-right: 12px;
  box-shadow: 3px 5px 10px darkgray;
}

.history-png-li {
  list-style: decimal-leading-zero;
  margin: 12px 0;
  display: flex;
  align-items: center;
}
